:root {
    --primary-text-color: #757575;
    --primary-white-color: #ffffff;
    --primary-blue-color: #2196f3;
    --primary-black-color: #212121;
}
body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    background: #ffffff;
    color: var(--primary-text-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*INDEX*/

/*Style header*/
/*Logo*/
.logo {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.logo-web {
    color: var(--primary-blue-color);
}

/*Navigation*/
.nav-site {
    list-style: none;
}
.nav-site-link {
    color: var(--primary-black-color);
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-site-link:hover,
.nav-site-link:focus {
    color: var(--primary-blue-color);
}

.nav-cont {
    list-style: none;
}
.nav-cont-link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-cont-link:hover,
.nav-cont-link:focus {
    color: var(--primary-blue-color);
}


/*Style main*/
/*Hero*/
.hero {
    background: #2F303A;
}

.hero-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.35;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
}

.hero-btn {
    background: var(--primary-blue-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: var(--primary-white-color);
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/*Preference*/
.pref {
    list-style: none;
}

.pref-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    color: var(--primary-black-color);
}

.pref-text {
    line-height: 1.7;
}

/*About*/
.about-list {
    list-style: none;
}

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: var(--primary-black-color);
}

/*Team*/
.team {
    background-color: #F5F4FA;
}

.team-list {
    list-style: none;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.165;
    letter-spacing: 0.03em;
    color: var(--primary-black-color);
}

.team-bgd {
    background-color: var(--primary-white-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: var(--primary-black-color);
}

.team-prof {
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
}


/*Style footer*/
.footer {
    background: #2F303A;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
}

.footer-cont {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
    font-style: normal;
}

.address-list {
    list-style: none;
}

.address {
    line-height: 1.7;
    color: var(--primary-white-color);
    font-style: normal;
}

.footer-cont:hover,
.footer-cont:focus {
    color: var(--primary-blue-color);
}

.footer-logo,
.footer-cont,
.address {
    text-decoration: none;
}


/*PORTFOLIO*/
.portfolio-list {
    list-style: none;
}

.portfolio-btn{
    font-family: 'Roboto', sans-serif;
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.625;
    color: var(--primary-black-color);
    border: none;
    cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    background: var(--primary-blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--primary-white-color);
    border: none;
}

.samples-list {
    list-style: none;
}

.link-decor {
    text-decoration: none;
}

.port-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-black-color);
}

.port-list-text {
    font-size: 16px;
    line-height: 1.875;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}